{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "Kite": {
    "ApiKey": "your_api_key_here",
    "ApiSecret": "your_api_secret_here"
  }
}
